/* 
font-families: 
font-family: 'Cormorant Garamond', serif;
font-family: 'Cormorant SC', serif;
*/

/* ----------------------FONTS------------------ */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Cormorant+SC:wght@500;600&display=swap");

:root {
  --color-brown: #5c3f2d;
  --color-blue-green: #26bacf;
  --color-blue-green-light: #4fc8d8;
  --color-light-blue: #4eade4;
  --color-blue: #1e93a4;
  --color-sky-blue: #edf7fc;
  --color-reddish: #ca4e54;
  --color-light-pink: rgba(235, 168, 168);
  --color-bg-pink: rgba(235, 168, 168, 0.3);
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-shadow-dark: rgba(0, 0, 0, 0.4);
  --color-footer-text: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Cormorant Garamond", serif;
}

body {
  position: relative;
  /* background-color: #edf7fc; */
}

section {
  padding: 40px 60px;
  overflow: hidden;
}

/* -----------------------GENERAL STYLES------------------- */

.btn {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  border-radius: 5px;
  padding: 4px 8px;
  border: 2px solid transparent;
  color: white;
  background-color: var(--color-blue-green);
  text-transform: capitalize;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: aliceblue;
  border: 2px solid var(--color-blue-green);
  color: var(--color-reddish);
}
.heading-1 {
  font-family: "Cormorant SC", serif;
  font-size: clamp(2rem, 4rem, 4vw);
  letter-spacing: 1px;
  color: var(--color-blue-green-light);
  margin-bottom: 8px;
}

.heading-2 {
  font-size: clamp(1rem, 2rem, 2.2vw);
  color: var(--color-reddish);
  margin-bottom: 20px;
}

.heading-3 {
  color: var(--color-reddish);
  margin-bottom: 15px;
}
.text {
  text-transform: lowercase;
  font-size: clamp(0.75rem, 1rem, 2vw);
  color: var(--color-brown);
  margin-bottom: 10px;
}

.image-box {
  width: 70%;
  max-width: 700px;
}
.image {
  width: 100%;
}

input {
  display: block;
  width: 90%;
  align-self: stretch;
}

.input-holder {
  border: 2px solid rgba(38, 186, 207, 0.8);
  padding: 7px;
  border-radius: 5px;
  margin: 10px 0;
  transition: all 0.3s;
}

.input-holder::placeholder {
  font-family: inherit;
  color: rgba(78, 173, 228, 0.5);
}

.input-holder:focus {
  outline: #1e93a4;
  transform: scale(1.05);
}

/* --------------------------------- HEADER------------------------------- */

/* ----------------NAVBAR---------------- */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.25rem 60px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(241, 218, 218);
  z-index: 10;
}
.logo {
  height: 80%;
}
.logo-icon {
  height: 100%;
}
.content {
  width: 60%;
}

.nav-content {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  margin-right: 16px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.nav-item:hover {
  transform: scale(1.1);
}
.nav-link::after {
  content: "";
  background-color: var(--color-reddish);
  bottom: -4px;
  height: 2px;
  width: 100%;
  left: 0px;
  position: absolute;
  transform: scaleX(0); /*to start from center*/
  transition: transform 0.3s ease 0s;
}
.nav-link:hover::after {
  transform: scaleX(1);
}
.nav-link {
  text-decoration: none;
  color: var(--color-brown);
  width: fit-content;
}

.nav-link:hover {
  color: var(--color-reddish);
}

.menu-btn {
  border: none;
  display: none;
}
.drop-menu {
  display: none;
}
.menu {
  display: none;
}
.menu .nav-item {
  display: none;
}
.menu .nav-btn {
  display: none;
}

/* ----------------HERO---------------- */

.hero {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  align-items: center;
  margin-top: 70px;
  padding: 0 60px;
  overflow: hidden;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit {
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 8px 12px;
  align-self: stretch;
}

.hero .image-box {
  margin-right: -80px;
}

/* -------------------------------------SECTIONS----------------------------- */

/* --------------------ABOUT US-------------------- */

#about-us {
  background-color: var(--color-sky-blue);
}

#about-us .heading-1 {
  text-align: center;
}
.about-us-content {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  align-items: center;
}

.about-us-text {
  width: 50%;
}
.about-us-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item-icon,
.item-text {
  display: inline;
}

#about-us .image-box {
  margin-left: -50px;
}

.item-icon {
  margin-right: 5px;
}

.item-link {
  text-decoration: none;
  color: var(--color-brown);
  font-size: 22px;
  margin-left: 20px;
  transition: all 0.3s;
}
.item-link:hover {
  transform: scale(1.2);
}

/*------------------------------------------------------------------------ */
/*------------------------------------------------------------------------ */
#staff {
  display: flex;
  flex-direction: column;
}
#staff .heading-1 {
  color: var(--color-reddish);
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-box {
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

/* .card-box:hover .staff-btn {
  display: flex;
} */
.card-box:not(:last-child) {
  margin-right: 20px;
}
.card-img {
  width: 100%;
  transition: all 0.6s;
}
.card-img:hover {
  transform: scale(1.1);
  /* filter: blur(3px) brightness(0.6); */
}

.center {
  align-self: center;
  margin: 20px 0;
}

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
/* ---------------------------- REVIEWS / SERVICES --------------------------- */
#reviews {
  background-color: var(--color-sky-blue);
}
#reviews .heading-1 {
  color: var(--color-reddish);
  margin-bottom: 40px;
  text-align: center;
}

.reviews-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.reviews-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.reviews {
  display: flex;
  flex-direction: column;
}
.review {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-pink);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.4s;
}
.review:hover {
  transform: scale(1.05);
}
.review-icon {
  margin-right: 10px;
  width: 20%;
}

.review-text {
  width: 70%;
}
.stars {
  width: 40%;
}

.services-box {
  width: 35%;
  background-color: var(--color-bg-pink);
  padding: 20px 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.services-box .heading-2 {
  color: var(--color-blue);
  margin-bottom: 20px;
}
.services {
  /* height: 100%; */
  width: 80%;
  text-align: center;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.item {
  background-color: rgba(171, 216, 242, 0.6);
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  transition: all 0.4s;
}
.item:hover {
  filter: brightness(0.9);
  transform: scale(1.05);
}
.link {
  text-decoration: none;
  color: var(--color-brown);
  font-size: 24px;
}

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
/* ---------------------------- FORM --------------------------- */
.appointment {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-image: linear-gradient(
      110deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0.01) 50%
    ),
    url(./form-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  opacity: 0;
}
.close {
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
}
.appointment .heading-2 {
  text-align: left;
  font-size: 35px;
  margin-bottom: 20px;
}
.pop-up {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#morning,
#afternoon,
label {
  display: inline-block;
  width: fit-content;
  margin-right: 20px;
  vertical-align: middle;
}
label {
  color: var(--color-brown);
  font-size: 20px;
  font-family: inherit;
}
.radio-btns {
  display: flex;
  margin: 10px 0;
}
.staff-btn {
  width: fit-content;
  padding: 10px 15px;
  background-color: white;
  color: var(--color-reddish);
  font-size: 18px;
  font-weight: 600;
  transition: all 0.6s;
  border: 2px solid var(--color-reddish);
  border-radius: 5px;
}
.staff-btn:hover {
  background-color: var(--color-reddish);
  color: white;
}

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
/* ---------------------------- FOOTER --------------------------- */
.footer {
  background-color: #2e3038;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 40px 100px;
}
.line {
  border-top: 2px solid var(--color-footer-text);
  width: 92%;
  margin-bottom: 10px;
}

.copyright,
.links-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  list-style: none;
  width: 90%;
  display: flex;
}

.footer-item {
  padding: 0 20px;
}
.footer-link {
  text-decoration: none;
  font-size: 16px;
  color: var(--color-footer-text);
  padding: 5px;
}

.footer-link:hover {
  color: #fff;
  background-color: rgba(220, 220, 220, 0.3);
  border-radius: 3px;
}
.copyright .text {
  color: var(--color-footer-text);
  font-family: "Cormorant SC", serif;
  width: 70%;
  text-align: center;
  letter-spacing: 1px;
}
/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
/* ---------------------------- MEDIA QUERIES --------------------------- */
@media screen and (max-width: 900px) {
  section {
    padding: 20px 30px;
  }
  .nav-content {
    display: none;
  }
  .navbar {
    padding: 0.25rem 30px;
  }
  .hero {
    padding: 0 30px;
  }

  .menu-btn {
    display: flex;
    width: 50px;
    display: block;
    position: absolute;
    top: 5px;
    right: 30px;
    /* border: 2px solid #26bacf; */
  }

  .drop-menu {
    display: none;
    background-color: rgb(241, 218, 218);
    width: 200px;
    height: auto;
    padding: 40px 30px 20px;
    position: absolute;
    right: 30px;
    top: 65px;
  }

  .drop-menu .nav-link {
    width: fit-content;
  }

  .menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
  }

  .menu .nav-item {
    margin-bottom: 20px;
    display: flex;
  }

  .menu .nav-btn {
    display: flex;
  }
  .about-us-content {
    flex-direction: column;
  }
  .about-us-text {
    width: 80%;
  }

  .hero {
    flex-direction: column;
    height: auto;
    margin-top: 100px;
  }
  .heading-1 {
    font-size: 50px;
  }

  .heading-2 {
    font-size: 30px;
  }
  .text {
    font-size: 18px;
  }
  .hero .image-box {
    margin-right: 0;
  }
  .image-box {
    width: 100%;
  }
  #about-us .image-box {
    margin-left: 0;
  }

  .reviews-content {
    flex-direction: column;
    align-items: center;
  }
  .reviews-box,
  .services-box {
    width: 90%;
  }

  .footer-content {
    padding: 40px 30px;
  }

  .footer-item {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  #about-us .heading-1 {
    font-size: 35px;
  }
  .appointment .heading-2 {
    text-align: left;
    font-size: 30px;
  }
  .pop-up {
    width: 90%;
  }

  .footer {
    align-items: flex-start;
  }

  .footer .logo-icon {
    margin-left: 30px;
  }
  .footer-content {
    flex-direction: column;
  }
  .copyright,
  .links-side {
    width: 80%;
  }
  .links-side {
    margin-bottom: 20px;
  }

  .footer-list {
    flex-direction: column;
  }
  .footer-item {
    margin-bottom: 10px;
  }

  .copyright .text {
    text-align: left;
  }
}

@media screen and (max-width: 400px) {
  section {
    padding: 20px 5px;
  }
  .heading-1 {
    font-size: 30px;
    font-weight: 700;
  }

  .heading-2 {
    font-size: 18px;
  }
  .text {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .image-box {
    width: 300px;
  }

  .menu-btn,
  .drop-menu {
    right: 10px;
  }
  #about-us .heading-1 {
    font-size: 22px;
  }

  .card-box {
    margin: 10px;
    width: 90%;
  }

  .link {
    font-size: 19px;
  }
  .appointment .heading-2 {
    font-size: 25px;
  }

  .footer-link,
  .copyright .text {
    font-size: 14px;
  }
}
